<form
    *ngIf="createUserForm"
    [formGroup]="createUserForm"
    (submit)="saveUser($event)"
    class="form"
>
    <div class="field-container">
        <input class="form__input" placeholder="Name*" formControlName="name">
        <p
            *ngIf="!createUserForm.get('name')?.valid && createUserForm.get('name')?.dirty"
            class="input-error"
        >
            This value is required
        </p>
    </div>
    <div class="field-container">
        <input class="form__input" placeholder="Last Name*" formControlName="lName">
    </div>
    <div class="field-container">
        <input class="form__input" placeholder="NIF*" formControlName="nif">
        <p
            *ngIf="!createUserForm.get('nif')?.valid
            && createUserForm.get('nif')?.dirty
            && createUserForm.get('nif')?.errors?.['required']"
            class="input-error"
        >
            This value is required and has to follow a format pattern
        </p>
    </div>
    <div class="field-container">
        <input class="form__input" placeholder="Phone Number" formControlName="nTlf">
        <p
            *ngIf="!createUserForm.get('nTlf')?.valid && createUserForm.get('nTlf')?.dirty"
            class="input-error"
        >
            This value has to be a valid phone number
        </p>
    </div>
    <div class="field-container">
        <input class="form__input" placeholder="Email*" formControlName="email">
    </div>
    <div class="field-container">
        <input type ="password" class="form__input" placeholder="Password*" formControlName="password">
        <p
            *ngIf="!createUserForm.get('password')?.valid && createUserForm.get('password')?.dirty"
            class="input-error"
        >
            This value is required and has to have at least six characters
        </p>
    </div>
    <div class="field-container">
        <select class="form__input form__select" formControlName="countries">
            <option
                *ngFor="let option of countries"
                [value]="option"
            >{{ option }}</option>
        </select>
    </div>
    <div class="field-container">
        <textarea class="form__input" placeholder="Description" type="text" formControlName="description"></textarea>
    </div>
    <div class="field-container">
        <input type="checkbox" id="conditions" value="conditions" formControlName="hasAcceptedConditions"><label for="conditions">Accept conditions*</label>
        <p
            *ngIf="!createUserForm.get('hasAcceptedConditions')?.valid && createUserForm.get('hasAcceptedConditions')?.dirty"
            class="input-error"
        >
            You have to accept the conditions to continue
        </p>
    </div>
    <button
        class="form__button"
        type="submit"
        [disabled]="!createUserForm.valid"
    >Signup</button>
</form>

<div class="users">
    <app-root
        *ngFor="let user of savedUser"
    >{{user}}</app-root>
</div>